.app-content--standalone {
    margin-top: 120px;
    padding-top: 5px;
}

.app-comprehensiveQuality {
    position: absolute;
    width: calc(100% - 100px);
    top: 20px;
    padding: 0 50px;
    bottom: 0;
    overflow: auto;
}